<div class='well'>
  <a routerLink="/lugares">Lugares</a> / Contacto
</div>
<div class='container'>
  <h2>Aqui puedes dejarnos tu mensaje</h2><br /><br />
  <div class="row">
    <div class="col-md-6">
      <label for="name">Nombre</label>
      <input type="text" name="name" class="form-control">
      <br />
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control">
      <br />
      <label for="message">Mensaje</label>
      <textarea class="form-control" name="message" cols="30" rows="10"></textarea>
      <hr />
      <a class="btn btn-primary">Enviar</a>
      <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
    </div>
    <div class="col-md-6">
      <p>Datos de la Empresa</p>
      <p>Telefono: 5454564545</p>
      <p>Email: datos@miempresa.com</p>
      <p>Direccion: Calle Santuri # 545</p>
      <p>Ubicacion</p>


  </div>
</div>
</div>
